  <h1>This will be our contact page</h1>

  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<form>
  First Name:<br>
  <input type="text" name="firstname"><br>
  Last Name:<br>
  <input type="text" name="lastname"><br>
  Email:<br>
  <input type="text" name="amount" placeholder="Im_on_a_boat@hoes.com"><br>
  <input type="sumbit" value="Submit">
</form>
