<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="/default.css">
<link rel="icon" href="/PW_icon.png"/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <title>Prestige Worldwide </title>
  </head>
  <body class="<%= @class_name %>">
  
    <div class= "container">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/page2">Services</a>
        <a href="/contact">Get in Touch</a>
    </div>

<%= yield %>
<script src="/main.js">
</script>
  </body>
</html>