
  <h1>About</h1>

<img src="images/step_brothers.jpg"/>

<p> Dale Doback and Brennan Huff started Prestige Worldwide out of passion for music and wanting to create a band. They didn't want to give their band a typical name and came up with Prestige Worldwide. Since creating their band, Dale and Brennan have taken Prestige Worldwide from a music project to a global company. Services offered but not limited to are entertainment, management, financial portfolios, insurance, computers, black leather gloves, research and development, and security. Their first music project produced is a music video titled "Boats and Hoes". There is no limit to where Dale and Brennan plan to take Prestige Worldwide as they aim to be the #1 company for all your needs.
</p>